# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/sonarlint/issuestore/b/
#project1/Resources/
project1/Result/
project2/
venv/Include/
venv/Lib/site-packages/AppiumLibrary/__pycache__/
venv/Lib/site-packages/AppiumLibrary/keywords/__pycache__/
venv/Lib/site-packages/AppiumLibrary/locators/__pycache__/
venv/Lib/site-packages/AppiumLibrary/utils/__pycache__/
venv/Lib/site-packages/HttpLibrary/__pycache__/
venv/Lib/site-packages/JenkinsLibrary/__pycache__/
venv/Lib/site-packages/JsonToDict/__pycache__/
venv/Lib/site-packages/OpenSSL/__pycache__/
venv/Lib/site-packages/RequestsExtension/__pycache__/
venv/Lib/site-packages/RequestsLibrary/__pycache__/
venv/Lib/site-packages/SeleniumLibrary/__pycache__/
venv/Lib/site-packages/SeleniumLibrary/base/__pycache__/
venv/Lib/site-packages/SeleniumLibrary/keywords/__pycache__/
venv/Lib/site-packages/SeleniumLibrary/keywords/webdrivertools/__pycache__/
venv/Lib/site-packages/SeleniumLibrary/locators/__pycache__/
venv/Lib/site-packages/SeleniumLibrary/utils/__pycache__/
venv/Lib/site-packages/SeleniumLibrary/utils/events/__pycache__/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/_distutils_hack/__pycache__/
venv/Lib/site-packages/appium/__pycache__/
venv/Lib/site-packages/appium/common/__pycache__/
venv/Lib/site-packages/appium/webdriver/__pycache__/
venv/Lib/site-packages/appium/webdriver/common/__pycache__/
venv/Lib/site-packages/appium/webdriver/extensions/__pycache__/
venv/Lib/site-packages/appium/webdriver/extensions/android/__pycache__/
venv/Lib/site-packages/appium/webdriver/extensions/search_context/__pycache__/
venv/Lib/site-packages/async_generator/__pycache__/
venv/Lib/site-packages/async_generator/_tests/__pycache__/
venv/Lib/site-packages/attr/__pycache__/
venv/Lib/site-packages/attrs/__pycache__/
venv/Lib/site-packages/bs4/__pycache__/
venv/Lib/site-packages/bs4/builder/__pycache__/
venv/Lib/site-packages/certifi/__pycache__/
venv/Lib/site-packages/cffi/__pycache__/
venv/Lib/site-packages/charset_normalizer/__pycache__/
venv/Lib/site-packages/charset_normalizer/assets/__pycache__/
venv/Lib/site-packages/charset_normalizer/cli/__pycache__/
venv/Lib/site-packages/cryptography/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/backends/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/backends/openssl/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/bindings/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/bindings/openssl/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/primitives/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/primitives/asymmetric/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/primitives/ciphers/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/primitives/kdf/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/primitives/serialization/__pycache__/
venv/Lib/site-packages/cryptography/hazmat/primitives/twofactor/__pycache__/
venv/Lib/site-packages/cryptography/x509/__pycache__/
venv/Lib/site-packages/docgen/__pycache__/
venv/Lib/site-packages/docutils/__pycache__/
venv/Lib/site-packages/docutils/languages/__pycache__/
venv/Lib/site-packages/docutils/parsers/__pycache__/
venv/Lib/site-packages/docutils/parsers/rst/__pycache__/
venv/Lib/site-packages/docutils/parsers/rst/direc
tives/__pycache__/
venv/Lib/site-packages/docutils/parsers/rst/languages/__pycache__/
venv/Lib/site-packages/docutils/readers/__pycache__/
venv/Lib/site-packages/docutils/transforms/__pycache__/
venv/Lib/site-packages/docutils/utils/__pycache__/
venv/Lib/site-packages/docutils/utils/math/__pycache__/
venv/Lib/site-packages/docutils/writers/__pycache__/
venv/Lib/site-packages/docutils/writers/html4css1/__pycache__/
venv/Lib/site-packages/docutils/writers/html5_polyglot/__pycache__/
venv/Lib/site-packages/docutils/writers/latex2e/__pycache__/
venv/Lib/site-packages/docutils/writers/odf_odt/__pycache__/
venv/Lib/site-packages/docutils/writers/pep_html/__pycache__/
venv/Lib/site-packages/docutils/writers/s5_html/__pycache__/
venv/Lib/site-packages/docutils/writers/xetex/__pycache__/
venv/Lib/site-packages/h11/__pycache__/
venv/Lib/site-packages/h11/tests/__pycache__/
venv/Lib/site-packages/idna/__pycache__/
venv/Lib/site-packages/importlib_resources/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/data01/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/data01/subdirectory/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/data02/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/data02/one/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/data02/two/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/zipdata01/__pycache__/
venv/Lib/site-packages/importlib_resources/tests/zipdata02/__pycache__/
venv/Lib/site-packages/jsonschema/__pycache__/
venv/Lib/site-packages/jsonschema/benchmarks/__pycache__/
venv/Lib/site-packages/jsonschema/tests/__pycache__/
venv/Lib/site-packages/kitchen/__pycache__/
venv/Lib/site-packages/kitchen/collections/__pycache__/
venv/Lib/site-packages/kitchen/i18n/__pycache__/
venv/Lib/site-packages/kitchen/iterutils/__pycache__/
venv/Lib/site-packages/kitchen/pycompat24/__pycache__/
venv/Lib/site-packages/kitchen/pycompat24/base64/__pycache__/
venv/Lib/site-packages/kitchen/pycompat24/sets/__pycache__/
venv/Lib/site-packages/kitchen/pycompat25/__pycache__/
venv/Lib/site-packages/kitchen/pycompat25/collections/__pycache__/
venv/Lib/site-packages/kitchen/pycompat27/__pycache__/
venv/Lib/site-packages/kitchen/pycompat27/subprocess/__pycache__/
venv/Lib/site-packages/kitchen/text/__pycache__/
venv/Lib/site-packages/kitchen/versioning/__pycache__/
venv/Lib/site-packages/outcome/__pycache__/
venv/Lib/site-packages/pip/__pycache__/
venv/Lib/site-packages/pip/_internal/__pycache__/
venv/Lib/site-packages/pip/_internal/cli/__pycache__/
venv/Lib/site-packages/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip/_internal/distributions/__pycache__/
venv/Lib/site-packages/pip/_internal/index/__pycache__/
venv/Lib/site-packages/pip/_internal/locations/__pycache__/
venv/Lib/site-packages/pip/_internal/metadata/__pycache__/
venv/Lib/site-packages/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip/_internal/network/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/
venv/Lib/site-packages/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/legacy/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/
venv/Lib/site-packages/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/cli/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/metadata/__pycache__/
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/_backport/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/filters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treeadapters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip/_vendor/pep517/__pycache__/
venv/Lib/site-packages/pip/_vendor/pep517/in_process/__pycache__/
venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip/_vendor/platformdirs/__pycache__/
venv/Lib/site-packages/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip/_vendor/resolvelib/__pycache__/
venv/Lib/site-packages/pip/_vendor/resolvelib/compat/__pycache__/
venv/Lib/site-packages/pip/_vendor/tenacity/__pycache__/
venv/Lib/site-packages/pip/_vendor/tomli/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/site-packages/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/pkg_resources/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pkg_resources/extern/__pycache__/
venv/Lib/site-packages/pkg_resources/tests/data/my-test-package-source/__pycache__/
venv/Lib/site-packages/pycparser/__pycache__/
venv/Lib/site-packages/pycparser/ply/__pycache__/
venv/Lib/site-packages/pyrsistent/__pycache__/
venv/Lib/site-packages/requests/__pycache__/
venv/Lib/site-packages/robot/__pycache__/
venv/Lib/site-packages/robot/api/__pycache__/
venv/Lib/site-packages/robot/conf/__pycache__/
venv/Lib/site-packages/robot/htmldata/__pycache__/
venv/Lib/site-packages/robot/libdocpkg/__pycache__/
venv/Lib/site-packages/robot/libraries/__pycache__/
venv/Lib/site-packages/robo
t/model/__pycache__/
venv/Lib/site-packages/robot/output/__pycache__/
venv/Lib/site-packages/robot/output/console/__pycache__/
venv/Lib/site-packages/robot/parsing/__pycache__/
venv/Lib/site-packages/robot/parsing/lexer/__pycache__/
venv/Lib/site-packages/robot/parsing/model/__pycache__/
venv/Lib/site-packages/robot/parsing/parser/__pycache__/
venv/Lib/site-packages/robot/reporting/__pycache__/
venv/Lib/site-packages/robot/result/__pycache__/
venv/Lib/site-packages/robot/running/__pycache__/
venv/Lib/site-packages/robot/running/arguments/__pycache__/
venv/Lib/site-packages/robot/running/builder/__pycache__/
venv/Lib/site-packages/robot/running/timeouts/__pycache__/
venv/Lib/site-packages/robot/tidypkg/__pycache__/
venv/Lib/site-packages/robot/utils/__pycache__/
venv/Lib/site-packages/robot/variables/__pycache__/
venv/Lib/site-packages/selenium/__pycache__/
venv/Lib/site-packages/selenium/common/__pycache__/
venv/Lib/site-packages/selenium/webdriver/__pycache__/
venv/Lib/site-packages/selenium/webdriver/chrome/__pycache__/
venv/Lib/site-packages/selenium/webdriver/chromium/__pycache__/
venv/Lib/site-packages/selenium/webdriver/common/__pycache__/
venv/Lib/site-packages/selenium/webdriver/common/actions/__pycache__/
venv/Lib/site-packages/selenium/webdriver/common/bidi/__pycache__/
venv/Lib/site-packages/selenium/webdriver/common/devtools/v85/__pycache__/
venv/Lib/site-packages/selenium/webdriver/common/devtools/v94/__pycache__/
venv/Lib/site-packages/selenium/webdriver/common/devtools/v95/__pycache__/
venv/Lib/site-packages/selenium/webdriver/common/devtools/v96/__pycache__/
venv/Lib/site-packages/selenium/webdriver/common/html5/__pycache__/
venv/Lib/site-packages/selenium/webdriver/edge/__pycache__/
venv/Lib/site-packages/selenium/webdriver/firefox/__pycache__/
venv/Lib/site-packages/selenium/webdriver/ie/__pycache__/
venv/Lib/site-packages/selenium/webdriver/opera/__pycache__/
venv/Lib/site-packages/selenium/webdriver/remote/__pycache__/
venv/Lib/site-packages/selenium/webdriver/safari/__pycache__/
venv/Lib/site-packages/selenium/webdriver/support/__pycache__/
venv/Lib/site-packages/selenium/webdriver/webkitgtk/__pycache__/
venv/Lib/site-packages/selenium/webdriver/wpewebkit/__pycache__/
venv/Lib/site-packages/setuptools/__pycache__/
venv/Lib/site-packages/setuptools/_distutils/__pycache__/
venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/more_itertools/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/
venv/Lib/site-packages/setuptools/command/__pycache__/
venv/Lib/site-packages/setuptools/extern/__pycache__/
venv/Lib/site-packages/setuptools/tests/integration/__pycache__/
venv/Lib/site-packages/sniffio/__pycache__/
venv/Lib/site-packages/sniffio/_tests/__pycache__/
venv/Lib/site-packages/sortedcontainers/__pycache__/
venv/Lib/site-packages/soupsieve/__pycache__/
venv/Lib/site-packages/tests/__pycache__/
venv/Lib/site-packages/trio/__pycache__/
venv/Lib/site-packages/trio/_core/__pycache__/
venv/Lib/site-packages/trio/_core/tests/__pycache__/
venv/Lib/site-packages/trio/_core/tests/test_multierror_scripts/__pycache__/
venv/Lib/site-packages/trio/_subprocess_platform/__pycache__/
venv/Lib/site-packages/trio/_tools/__pycache__/
venv/Lib/site-packages/trio/testing/__pycache__/
venv/Lib/site-packages/trio/tests/__pycache__/
venv/Lib/site-packages/trio/tests/tools/__pycache__/
venv/Lib/site-packages/trio_websocket/__pycache__/
venv/Lib/site-packages/urllib3/__pycache__/
venv/Lib/site-packages/urllib3/contrib/__pycache__/
venv/Lib/site-packages/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/urllib3/packages/__pycache__/
venv/Lib/site-packages/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/urllib3/util/__pycache__/
venv/Lib/site-packages/waitress/__pycache__/
venv/Lib/site-packages/webob/__pycache__/
venv/Lib/site-packages/webtest/__pycache__/
venv/Lib/site-packages/wsproto/__pycache__/
venv/Scripts/__pycache__/
